#myvideo {
    width: 300px;
    float: right;
    margin-top: 35px;
    margin-right: 15px;
}

#myaudio {
    width: 300px;
    float: right;
    margin-top: 35px;
    margin-right: 15px;
}

#listaVideo {
    width: 250px;
    display: flex;
    flex-direction: column;
}

#listaAudio {
    width: 250px;
    display: flex;
    flex-direction: column;
}

.lista {
    margin: 20px;
}

button {
    padding: 7px;
    background-color: #fff;
    font-size: 13px;
    text-align: left;
}

#corpo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#contenitore-audio {
    margin-left: 20px;
    border: solid #ddf 1px;
    width: 700px;
}

#contenitore-video {
    margin-left: 20px;
    border: solid #ddf 1px;
    width: 700px;
}

.testa {
    background-color: #343a40;
}

h1 {
    font-size: 23px;
    color: #fff;
    margin-left: 15px;
    padding: 5px;
}